[Unit]
Description=Auction Site
After=network.target

[Service]
Environment=PORT=80
User=auctionsite
WorkingDirectory=/home/auctionsite/auction-site
ExecStart=/usr/local/bin/yarn start
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target