.wrapper {
   margin: 20px;
   width: calc(100% - 20px);
   max-width: 1300px;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.select {
   height: 40px;
   flex: 1 1 300px;
   max-width: 400px;
   border-radius: 5px;
   background-color: var(--bgColor);
   text-transform: capitalize;
}