.wrapper {
   position: relative;
   bottom: 0;
   padding: 20px;
   margin-top: 100px;
   width: calc(100% - 40px);
   background-color: var(--accentColor);
   color: white;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: baseline;
}
.section {
   width: 400px;
}
.section > h4 {
   margin-bottom: 10px;
}
.section > h6 {
   margin: 5px;
}
.section > p {
   font-size: 14px;
}