.wrapper {
   z-index: 100;
   position: fixed;
   top: 0;
   padding: 10px;
   width: 100%;
   box-shadow: var(--boxShadowLarge);
   background-color: var(--primaryColor);
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: space-between;
}
.links {
   margin-left: 20px;
   font-size: 24px;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
}
.links > a {
   color: var(--textColor) !important;
   padding-right: 15px;
   text-decoration: none;
}
.title {
   font-size: 24px;
}
.search {
}
@media screen and (max-width: 550px) {
   .wrapper {
      justify-content: center;
   }
   .search {
      display: none;
   }
}