@import "~react-image-gallery/styles/css/image-gallery.css";

.wrapper {
   flex: 1 1 65%;
   height: min(600px, 100%);
   background-color: var(--whiteSpaceColor);
   display: flex;
   flex-flow: column-reverse nowrap;
   justify-content: space-between;
}
.curImageWrapper {
   position: relative;
   height: 100%;

   background-color: var(--whiteSpaceColor);
   display: flex;
   flex-flow: row nowrap;
}
.curImage {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.prevBtn, .nextBtn {
   position: absolute;
   top: 50%;
}
.prevBtn {
   left: 0;
}
.nextBtn {
   right: 0;
}

.thumbnailWrapper {
   display: flex;
   flex-flow: row wrap;
}
.thumbnail {
   width: 75px;
   height: 75px;
   object-fit: cover;
}
