@import "~react-image-gallery/styles/css/image-gallery.css";

.wrapper {
   flex: 1 1 65%;
   height: min(600px, 100%);
   background-color: var(--whiteSpaceColor);
   display: flex;
   flex-flow: column-reverse nowrap;
   justify-content: space-between;
}
.curImageWrapper {
   position: relative;
   height: 100%;

   background-color: var(--whiteSpaceColor);
   display: flex;
   flex-flow: row nowrap;
}
.curImage {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.prevBtn, .nextBtn {
   position: absolute;
   top: 50%;
   border: solid var(--primaryColor);
   border-width: 0 5px 5px 0;
   display: inline-block;
   padding: 5px;
   border-radius: 0;
   box-shadow: none;
   background-color: transparent;
}
.prevBtn:hover, .nextBtn:hover {
   background-color: transparent;
   outline: none;
}
.prevBtn {
   left: 0;
   transform: rotate(135deg);
}
.nextBtn {
   right: 0;
   transform: rotate(-45deg);
}
.thumbnailWrapper {
   display: flex;
   flex-flow: row wrap;
}
.thumbnail {
   width: 75px;
   height: 75px;
   object-fit: cover;
   box-sizing: border-box;
}
.thumbnailSelected {
   border: 2px solid var(--primaryColor);
}