.wrapper {
   width: 100%;
   background-color: var(--bgColor);
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
}
.title {
   margin: 5px;
   text-align: center;
}
.infoList {
   margin-top: 0;
   border-radius: 5px;
   padding-inline-start: 0;
   list-style-type: none;
}
.infoList > li {
   margin-left: 0;
   padding: 3px;
   font-size: 14px;
   text-transform: capitalize;
}
.infoList > li:first-child {
   border-radius: 5px 5px 0 0;
}
.infoList > li:last-child {
   border-radius: 0 0 5px 5px;
}
.infoList > li:nth-child(odd) {
   background-color: var(--whiteSpaceColor)
}
